*{
    margin: 0;
    padding: 0;

}
body{
    background: #333;
    color: white;
    font-family: system-ui;
    scroll-behavior: smooth;
}
.crud{
    width: 80%;
    margin: auto;
}
.crud .head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
.crud .inputs .price input{
    width: 20%;
}
.crud .inputs #total{
    background: red;
    color: #fff;
    padding: 5px ;
    border-radius: 5px;

}
.crud .inputs #total::before{
    content: "Total:";
}
input{
    width: 100%;
    height: 20px;
    border: none;
    outline: none;
    background-color: #111;
    color: white;
    margin: 5px 0;
    padding: 5px ;
    border-radius: 5px;
}
input:focus{
    background: #000;
    transform: scale(1.02);
    transition: 0.5s ease-in-out;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* input[type="number"] {
    overflow: hidden; 
} */
.crud #sumbit  {
    width: 100%;
    height: 25px;
    border: none;
    cursor: pointer;
    background-color:#1787e0 ;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.crud .btnSearch{
    display: flex;
    justify-content: space-between;
}
.crud .btnSearch button{
    width: 48%;
     height: 25px;
    border: none;
    cursor: pointer;
    background-color:#1787e0 ;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
/* #deleteAll{
    margin: 10px 0 ;
} */
table{
    width: 100%;
    text-align: center;
    margin: 10px 5px;
    
}
table th{
    text-transform: uppercase;
    border: 1px solid #1787e0;
}
table th,td{
    padding: 5px;
}
